@{
    ViewData["Title"] = "MyArticlesList";
}

@model BlogNetworkB.Models.Article.ArticleListViewModel

@if(Model.Articles != null)
{
    foreach(var avm in Model.Articles)
    {
        <div class="page-block light-shadow title-container">
            <div class="article-mini">
                <a>@avm.Title</a>
                <p>@avm.CreatedDate</p>
            </div>
        </div>
    }
}