@{
    ViewData["Title"] = "WriteArticle";
}

@model BlogNetworkB.Models.Article.ArticleViewModel

<div class="articl-blck page-blck light-shadow">
    <form class="lgn-form pdng-rem06" method="post" asp-controller="Article" asp-action="PublicArticle">
        <div asp-validation-summary="ModelOnly" />
        <div class="">
            <input class="no-brdr caption-field pdng-norm mrg-one-bttm" asp-for="Title" placeholder="Заголовок" />
        </div>
        <div class="article-div">
            <textarea class="article pdng-norm mrg-one-bttm no-brdr" asp-for="Content" placeholder="Напишите статью. . ."></textarea>
        </div>

        <div>
            @foreach(var key in Model.ArticleTags.Keys)
            {
                <input type="checkbox" /> <label>@key</label>
            }
        </div>

        <div class="btn-flex-blck">
            <button class="btn-success frm-btn-two" type="submit">Публикация</button>
            <button class="btn-danger frm-btn-two" type="reset">Очистить</button>
        </div>
    </form>
</div>