@{
    ViewData["Title"] = "AddRole";
}

@model BlogNetworkB.Models.Role.RoleViewModel

<div class="main-blck page-blck light-shadow p-2 m-1 flex-d-column">
    <div class="btn-grid-blck">
        <h3>Добавление пользователю [@Model.AuthorId] роли</h3>
    </div>

    <form method="post" asp-controller="Role" asp-action="ConfirmAddRole">
        <div asp-validation-summary="ModelOnly" />
        <div class="fields-container">
            <input class="id-input" asp-for="AuthorId" />
            <label asp-for="RoleId"></label>
            <input asp-for="RoleId" />
            <span asp-validation-for="RoleId"></span>
        </div>

        <div class="btn-grid-blck">
            <button class="frm-btn-one btn-success" type="submit">Добавить</button>
        </div>
    </form>
</div>