@{
    ViewData["Title"] = "RoleList";
}

@model BlogNetworkB.Models.Role.MyRoleViewModel

<div class="main-blck page-blck light-shadow p-2 m-1 flex-d-column lgn-form">
    <h2>Мои роли: </h2>

    <div>
        @foreach (var role in Model.Roles)
        {
            <span class="role-span">@role</span>
        }
    </div>
</div>