@{
    ViewData["Title"] = "Login";
}
@model BlogNetworkB.Models.Account.LoginViewModel

<div class="main-blck flex-d-column light-shadow">
    <form class="lgn-form" method="post" asp-controller="Author" asp-action="ConfirmLogin">
        <div asp-validation-summary="ModelOnly" />
        <div class="fields-container">
            <label class="main-lbl">Email:</label><input asp-for="Email" />
        </div>
        <div class="fields-container">
            <label class="main-lbl">Пароль:</label><input asp-for="Password" />
        </div>
        <div class="btn-grid-blck">
            <button class="btn-success frm-btn-one" type="submit">Войти</button>
        </div>
    </form>
    <div class="btn-flex-blck r-t-login">
        <p>Нет страницы в нашей сети? <a asp-area="" asp-controller="Author" asp-action="Register">Зарегистрироваться</a></p>
    </div>
</div>