@{
    ViewData["Title"] = "CreateTag";
}

@model BlogNetworkB.Models.Tag.TagViewModel

<div class="main-blck page-blck light-shadow p-2 m-1 flex-d-column">
    <form class="pdng-rem06" method="post" asp-controller="Tag" asp-action="ConfirmCreateTag">
        <div asp-validation-summary="ModelOnly" />
        <div class="lgn-form mrg-one-bttm">
            <input class="" asp-for="Content" placeholder="Введите тег" />
        </div>
        <div class="btn-grid-blck mrg-one-bttm">
            <button class="btn-success frm-btn-one" type="submit">Добавить</button>
        </div>
    </form>
</div>