@{
    ViewData["Title"] = "CreateTag";
}

@model BlogNetworkB.Models.Tag.TagViewModel

<div class="articl-blck light-shadow">
    <form class="lgn-form pdng-rem06" method="post" asp-controller="Tag" asp-action="ConfirmCreateTag">
        <div asp-validation-summary="ModelOnly" />
        <div>
            <input asp-for="Content" placeholder="Введите тег" />
        </div>
        <div class="btn-grid-blck">
            <button class="btn-outline-success frm-btn-one" type="submit">Добавить</button>
        </div>
    </form>
</div>