@{
    ViewData["Title"] = "TagList";
}

@model BlogNetworkB.Models.Tag.TagListViewModel

<div class="main-blck page-blck light-shadow p-2 m-1 flex-d-column">

    @if (Model.Tags != null)
    {
        foreach (var tvm in Model.Tags)
        {
            <div class="pdng-norm b-border mrg-one-bttm">
                <p class="comment-area">@tvm.Content</p>

                <div class="btn-flex-blck">
                    @if (User.IsInRole("Moderator"))
                    {
                        <form class="width-20" method="get" asp-controller="Tag" asp-action="RewriteTag">
                            <input class="id-input" name="id" value="@tvm.TagId" />
                            <button class="btn-warning" type="submit">Изменить</button>
                        </form>

                        <form class="width-20" method="post" asp-controller="Tag" asp-action="DeleteTag">
                            <input class="id-input" name="id" value="@tvm.TagId" />
                            <button class="btn-danger" type="submit">Удалить</button>
                        </form>
                    }
                </div>
            </div>
        }
    }

    <div class="btn-flex-blck">
        @if (User.Identity.IsAuthenticated)
        {
            <form class="width-20" method="get" asp-controller="Tag" asp-action="CreateTag">
                    <button class="btn-success" type="submit">Добавить тег</button>
            </form>
        }
    </div>
</div>