<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      throwConfigExceptions="true"
      internalLogFile="${basedir}/Logs/internal-nlog-AspNetCore6.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  
  <targets>
    
    <target name="fileInfo" xsi:type="File"
        layout="${longdate} - ${logger} - ${message}"
        fileName="${basedir}/Logs/Info/${shortdate}.txt" />
    
    <target name="fileWarn" xsi:type="File"
          layout="${longdate} - ${logger} - ${message}"
          fileName="${basedir}/Logs/Warn/${shortdate}.txt" />

    <target name="fileError" xsi:type="File"
            layout="${longdate} - ${logger} - ${message}"
            fileName="${basedir}/Logs/Error/${shortdate}.txt" />

    <target name="fileTrace" xsi:type="File"
            layout="${longdate} - ${logger} - ${message}"
            fileName="${basedir}/Logs/Trace/${shortdate}.txt" />
    
    <target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />

  </targets>
  
  <rules>
    <logger name="*" levels="Info" writeTo="fileInfo" />
    <logger name="*" levels="Warn" writeTo="fileWarn" />
    <logger name="*" levels="Error" writeTo="fileError" />
    <logger name="*" levels="Trace" writeTo="fileTrace" />
    <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole" final="true" />
  </rules>
  
</nlog>