@{
    ViewData["Title"] = "AccessDenied";
}

@model BlogNetworkB.Models.CustomError.CustomErrorViewModel

<div class="text-center">
    <h1 class="display-4">Ой! Что-то пошло не так!</h1>
    <h4>@Model.Message</h4>
</div>